* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(53,53,53,1) 43%, rgba(255,255,255,1) 43%);
}

.container {
    margin: 0 auto;
    max-width: 1210px;
    padding: 0 50px;
}

header {
    background-color: rgb(232, 0, 186);
    height: 150px;
    margin-top: 100px;
}

.header-inner {
    display: flex;
    align-items: center;
    height: 100%;
}

.header__img-wrapper {
    width: 20%;
    max-height: 220px;
    overflow: hidden;
}

.header__img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__text-wrapper {
    margin-left: 50px;
}

.header__text-wrapper h1 {
    font-size: calc(10px + 52 * (100vw/1210));
    letter-spacing: 4px;
    color: #fff;
    text-shadow: 0.5px 1px 2px rgba(0, 0, 0, 0.541);
}

.header__text-wrapper span {
    font-size: calc(7px + 21 * (100vw/1210));
    letter-spacing: 8px;
    word-spacing: 9px;
    font-weight: 600;
    color: rgba(53,53,53,1);
    text-shadow: 0.5px 1px 1px rgba(0, 0, 0, 0.204);
}

@media (max-width: 1210px) {
    .header__text-wrapper h1 {
        font-size: calc(10px + (52 + 52 * 0.7) * ((100vw - 270px) / 1210));
    }
    
    .header__text-wrapper span {
        font-size: calc(7px + (21 + 21 * 0.7) * ((100vw - 270px) / 1210));
    }
}

/* Main start */
main {
    display: flex;
    justify-content: space-between;
}

.main__left-side {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.main__left-side div {
    margin-bottom: 30px;
}

.main__left-side, 
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.main__left-side h2,
.main__right-side h2 {
    color: rgba(232, 0, 186, 0.905);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.412);
    margin-bottom: 15px;
    text-transform: uppercase;
}

.main__left-side b {
    font-size: 18px;
}

.main__left-side ul li {
    word-spacing: 10px;
}

.main__left-side div:nth-child(2) ul li,
.main__left-side div:nth-child(4) ul li,
.main__right-side ul li {
    list-style: none;
}

.main__left-side div:nth-child(3) ul {
    margin-left: 20px;
}

.main__right-side {
    width: 55%;
    margin-top: 50px;
    color: rgba(53,53,53,1);
}

.main__right-side div {
    margin-bottom: 20px;
    line-height: 25px;
}

.main__right-side span {
    color: rgba(232, 0, 186, 0.905);
    line-height: 15px;
}

.expiriense {
    line-height: 15px;
}

.expiriense__job-item {
    font-size: 14px;
}

.main__right-side ul {
    margin-top: 5px;
    margin-left: 25px;
}

.my-projects {
    display: flex;
    justify-content: space-between;
}

.my-projects__item {
    max-width: calc(33% - 15px);
    background-color: rgba(53,53,53,1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    box-shadow: 0px 21px 18px -14px rgba(128,128,128,0.75);
    -webkit-box-shadow: 0px 21px 18px -14px rgba(128,128,128,0.75);
    -moz-box-shadow: 0px 21px 18px -14px rgba(128,128,128,0.75);
    border: 0.3px solid rgba(53, 53, 53, 0.182);
}

.my-projects__item__img {
    width: 100%;
    height: 90px;
}

.my-projects__item__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.my-projects__item figcaption {
    max-width: 95%;
    margin: -18px auto 0;
    padding: 7px 0;
    line-height: 15px;
}

.my-projects__item figcaption a {
    font-size: 16px;
    width: 100%;
    letter-spacing: 1px;
    word-spacing: 2px;
}

pre {
    background-color: rgba(176, 176, 176, 0.26);
    height: 200px;
    padding-top: 15px;
}

.code1 {
    color: rgb(0, 154, 36) !important;
}

.code2 {
    color: rgb(216, 108, 58) !important;
}

.education-div p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
}

.education-div p span {
    margin-left: 25px;
    font-size: 16px;
    font-weight: 100;
}

/* Main end */

/* Footer start */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    max-width: 35%;
}

.footer__img-wrapper {
    max-width: 100px !important;
    height: auto !important;
}

.footer__img-wrapper__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer h6 {
    font-size: 16px;
    font-weight: 100;
    color: #fff;
}

/* footer end */

/* Adaptive start */

@media (max-width: 1181px) {
    .header__text-wrapper {
        margin-left: 30px;
    }

    .my-projects {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap
    }

    .my-projects__item {
        max-width: 100%;
        width: 80%;
        margin-bottom: 20px;
    }

    .my-projects__item__img {
        height: 120px;
    }

    pre {
        max-height: 150px;
        padding-top: 0;
    }

    pre p {
        margin-top: 0;
        padding-top: 0;
        line-height: 0px;
    }

}

@media (max-width: 765px) {
    header {
        max-height: 90px;
        margin-top: 50px !important;
    }

    .header__img-wrapper {
        max-height: 120px;
    }

    .header__text-wrapper {
        margin-left: 20px;
        line-height: 30px;
    }

    .header__text-wrapper h1 {
        letter-spacing: 3px;
    }

    .my-projects__item {
        width: 100%;
    }

    .my-projects__item__img {
        height: 120px;
    }

    .main__left-side h2,
    .main__right-side h2 {
        font-size: 20px;
        margin-bottom: 7px;
    }

    .main__left-side b,
    .main__right-side b {
        font-size: 14px;
    }

    p,
    li {
        font-size: 12px;
    }

    .main__right-side div {
        line-height: 15px;
    }
    
    .expiriense__job-item {
        font-size: 12px;
    }    

    .my-projects__item figcaption a {
        font-size: 14px;
    }
    
    pre {
        margin-top: 15px;
        padding-top: 0;
        max-height: 150px;
        font-size: 12px;
    }

    pre p {
        margin-top: 0;
        padding-top: 0;
        line-height: 0px;
    }

    .education-div p {
        margin-top: 10PX;
        font-size: 12px;
        font-weight: 600;
        line-height: 10px;
    }

    .education-div p span {
        margin-left: 15px;
        font-size: 10px;
        font-weight: 100;
    }

    .footer__img-wrapper {
        max-width: 50px !important;
        height: auto !important;
    }

    .footer,
    .footer h6 {
        font-size: 12px;
    }
    
}

@media (max-width: 660px) {
    .main__left-side b {
        font-size: 12px;
    }
    .main__left-side ul li {
        word-spacing: 3px;
    }    
}

@media (max-width: 540px) {

    .container {
        padding: 0 20px;
    }

    header {
        max-height: 65px;
        margin-top: 20px !important;
    }

    .header__img-wrapper {
        max-height: 80px;
        width: 20%;
    }

    .header__text-wrapper {
        margin-left: 15px;
        line-height: 23px;
    }

    .header__text-wrapper span {
        letter-spacing: 3px;
    }

    .my-projects {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .my-projects__item {
        width: 100%;
        margin-bottom: 10px;
    }

    .my-projects__item__img {
        height: 55px;
    }

    .my-projects__item figcaption {
        padding: 0;
    }

    .my-projects__item figcaption a {
        font-size: 8px !important;
        line-height: 20px;
    }    

    .main__left-side,
    .main__right-side {
        margin-top: 15px;
    }

    .main__left-side div {
        margin-bottom: 15px;
    }    

    .main__left-side h2,
    .main__right-side h2 {
        font-size: 14px;
        margin-bottom: 7px;
    }

    .main__left-side b,
    .main__right-side b {
        font-size: 10px;
    }

    p,
    li {
        font-size: 8px;
    }

    .main__right-side div {
        line-height: 10px;
    }
    
    .main__right-side ul {
        margin-top: 0;
        margin-left: 10px;
    }

    .expiriense {
        line-height: 5px;
        margin-top: 10px;
    }

    .expiriense__job-item {
        font-size: 8px;
    }    

    .my-projects__item figcaption a {
        font-size: 14px;
    }
    
    pre {
        margin-top: 15px;
        padding-top: 0px;
        max-height: 120px;
        font-size: 8px;
    }

    pre p {
        margin-top: 0;
        padding-top: 0;
        line-height: 0px;
    }

    .education-div p {
        font-size: 10px;
        font-weight: 600;
        line-height: 8px;
    }

    .education-div p span {
        margin-left: 10px;
        font-size: 8px;
        font-weight: 100;
    }

    .footer__img-wrapper {
        max-width: 30px !important;
    }

    .footer,
    .footer h6 {
        font-size: 8px;
    }
}

@media (max-width: 360px) {

    .container {
        padding: 0 15px;
    }

    header {
        max-height: 45px;
    }

    .header__img-wrapper {
        max-height: 60px;
        width: 20%;
    }

    .header__text-wrapper {
        margin-left: 10px;
        line-height: 15px;
    }

    .my-projects {
        flex-direction: column;
        align-items: center;
    }

    .my-projects__item {
        width: 80%;
        height: 60px;
    }

    .my-projects__item__img {
        max-height: 40px;
    }

    .my-projects__item figcaption {
        margin-top: -8px;
    }

    .my-projects__item figcaption a {
        font-size: 6px !important;
    }    

    .main__left-side h2,
    .main__right-side h2 {
        font-size: 12px;
    }

    .main__left-side b,
    .main__right-side b {
        font-size: 8px;
    }

    p,
    li {
        font-size: 6px;
    }

    .main__right-side div {
        line-height: 13px;
        margin-bottom: 6px;
    }
    
    .main__right-side ul {
        line-height: 7px;
    }

    .expiriense {
        line-height: 0px;
    }

    .expiriense__job-item {
        font-size: 6px;
    }  
    
    pre {
        max-height: 120px;
        font-size: 8px;
        padding-top: 0;
    }

    pre p {
        margin-top: 0;
        padding-top: 0;
        line-height: 0px;
    }

    .education-div p {
        font-size: 8px;
        font-weight: 600;
        line-height: 5px;
    }

    .education-div p span {
        margin-left: 10px;
        font-size: 6px;
        font-weight: 100;
    }
}

@media (max-width: 305px) {
    header {
        max-height: 40px;
    }

    .my-projects__item {
        height: 55px;
    }

    .my-projects__item figcaption {
        margin-top: -10px;
    }

    .my-projects__item figcaption a {
        letter-spacing: 0px;
    }    

    .main__left-side h2,
    .main__right-side h2 {
        font-size: 9px;
        margin-bottom: 5px;
        text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.412);
    }

    .main__left-side b,
    .main__right-side b {
        font-size: 7px;
    }

    p,
    li {
        font-size: 6px;
    }

    .main__left-side div:nth-child(3) ul {
        margin-left: 10px;
    }    

    .main__right-side div {
        line-height: 10px;
        margin-bottom: 6px;
    }
    
    .main__right-side ul {
        line-height: 7px;
    }

    pre {
        padding-top: 0;
        max-height: 120px;
        font-size: 6px;
    }

    pre p {
        
        line-height: 0px;
    }

    .education-div p {
        font-size: 7px;
        line-height: 2px;
    }

    .footer,
    .footer h6 {
        font-size: 5px;
    }
}

/* Adaptive start */