@media (max-width: 360px) {
  .container {
    padding: 0 15px;
  }

  header {
    max-height: 45px;
  }

  .header__img-wrapper {
    max-height: 60px;
    width: 20%;
  }

  .header__text-wrapper {
    margin-left: 10px;
    line-height: 15px;
  }

  .my-projects {
    flex-direction: column;
    align-items: center;
  }

  .my-projects__item {
    width: 80%;
    height: 60px;
  }

  .my-projects__item__img {
    max-height: 40px;
  }

  .my-projects__item figcaption {
    margin-top: -8px;
  }

  .my-projects__item figcaption a {
    font-size: 6px !important;
  }    

  .main__left-side h2,
  .main__right-side h2 {
    font-size: 12px;
  }

  .main__left-side b,
  .main__right-side b {
    font-size: 8px;
  }

  p,
  li {
    font-size: 6px;
  }

  .main__right-side div {
    line-height: 13px;
    margin-bottom: 6px;
  }
  
  .main__right-side ul {
    line-height: 7px;
  }

  .expiriense {
    line-height: 0px;
  }

  .expiriense__job-item {
    font-size: 6px;
  }  
  
  pre {
    max-height: 120px;
    font-size: 8px;
    padding-top: 5px;
  }

  .education-div p {
    font-size: 8px;
    font-weight: 600;
    line-height: 5px;
  }

  .education-div p span {
    margin-left: 10px;
    font-size: 6px;
    font-weight: 100;
  }
}