@media (max-width: 540px) {
  .container {
    padding: 0 20px;
  }

  header {
    max-height: 65px;
    margin-top: 20px !important;
  }

  .header__img-wrapper {
    max-height: 80px;
    width: 20%;
  }

  .header__text-wrapper {
    margin-left: 15px;
    line-height: 23px;
  }

  .header__text-wrapper span {
    letter-spacing: 3px;
  }

  .my-projects {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .my-projects__item {
    width: 100%;
    margin-bottom: 10px;
  }

  .my-projects__item__img {
    height: 55px;
  }

  .my-projects__item figcaption {
    padding: 0;
  }

  .my-projects__item figcaption a {
    font-size: 8px !important;
    line-height: 20px;
  }    

  .main__left-side,
  .main__right-side {
    margin-top: 15px;
  }

  .main__left-side div {
    margin-bottom: 15px;
  }    

  .main__left-side h2,
  .main__right-side h2 {
    font-size: 14px;
    margin-bottom: 7px;
  }

  .main__left-side b,
  .main__right-side b {
    font-size: 10px;
  }

  p,
  li {
    font-size: 8px;
  }

  .main__right-side div {
    line-height: 10px;
  }
  
  .main__right-side ul {
    margin-top: 0;
    margin-left: 10px;
  }

  .expiriense {
    line-height: 5px;
    margin-top: 10px;
  }

  .expiriense__job-item {
    font-size: 8px;
  }    

  .my-projects__item figcaption a {
    font-size: 14px;
  }
  
  pre {
    margin-top: 15px;
    padding-top: 10px;
    max-height: 120px;
    font-size: 8px;
    line-height: 15px;
  }

  .education-div p {
    font-size: 10px;
    font-weight: 600;
    line-height: 8px;
  }

  .education-div p span {
    margin-left: 10px;
    font-size: 8px;
    font-weight: 100;
  }

  .footer__img-wrapper {
    max-width: 30px !important;
  }

  .footer,
  .footer h6 {
    font-size: 8px;
  }
}
