body {
  background: linear-gradient(90deg, rgba(53,53,53,1) 43%, rgba(255,255,255,1) 43%);
}

.header {
  background-color: rgb(232, 0, 186);
  height: 170px;
  margin-top: 100px;
}

.header-inner {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__img-wrapper {
  width: 20%;
  max-height: 220px;
  overflow: hidden;
}

.header__img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__text-wrapper {
  margin-left: 40px;
}

.header__text-wrapper h1 {
  font-size: calc(10px + 52 * (100vw/1210));
  letter-spacing: 4px;
  color: #fff;
  text-shadow: 0.5px 1px 2px rgba(0, 0, 0, 0.541);
}

.header__text-wrapper span {
  font-size: calc(7px + 21 * (100vw/1210));
  letter-spacing: 8px;
  word-spacing: 9px;
  font-weight: 600;
  color: rgba(53,53,53,1);
  text-shadow: 0.5px 1px 1px rgba(0, 0, 0, 0.204);
}

@media (max-width: 1210px) {
  .header__text-wrapper h1 {
      font-size: calc(10px + (52 + 52 * 0.7) * ((100vw - 270px) / 1210));
  }
  
  .header__text-wrapper span {
      font-size: calc(7px + (21 + 21 * 0.7) * ((100vw - 270px) / 1210));
  }
}
